{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Via Jinja, I will put the name of the category here in the title -->
    <h2>Active Listings for {{current_category_instance.category}}</h2>
    <br>
    <br>

    <!-- DEBUGGING MESSAGE -->
<!--    {{products_in_selected_category}}-->

    <!-- This displays all the active listings for the current category  -->
    {% for product in products_in_selected_category %}

        <!-- Bootstrap's "Horizontal" card class (source: https://getbootstrap.com/docs/4.4/components/card/) -->
        <div class="card mb-3" style="max-width: 50rem;">

            <!-- I will edit the link so that the user gets redirected to a page that shows the information
             for that particular listing -->
            <a href="listing/{{product.id}}" style="text-decoration: none; color: inherit;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- This displays the listing's photo -->
                  <img src="{{product.picture_url}}" class="card-img" alt="{{product.product_name}}'s picture"
                  height="200rem">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>    <!-- Product title -->
                      <p class="card-text">   <!-- Price -->
                        <b>Price:</b> ${{product.initial_price}}
                      </p>
                    <p class="card-text">   <!-- Product description -->
                        {{product.description}}
                    </p>
                    <p class="card-text"> <!-- Date when the listing was created -->
                        <small class="text-muted">Created on: {{product.created_on}}</small>
                    </p>
                  </div>
                </div>
              </div>
            </a>
        </div>

    {% endfor %}
{% endblock %}