{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Auctions</h2>

    {% for listing in listings %}

        <!-- This will make the home page to only display the listings from closed auctions -->
        {% if listing.active == False %}

            <div class="card mb-3" style="max-width: 50rem;">

                <!-- I will edit the link so that the user gets redirected to a page that shows the information
                 for that particular listing -->
                <a href="listing/{{listing.id}}" style="text-decoration: none; color: inherit;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <!-- This displays the listing's photo -->
                      <img src="{{listing.picture_url}}" class="card-img" alt="{{listing.product_name}}'s picture">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{listing.product_name}}</h5>    <!-- Product title -->
                          <p class="card-text">   <!-- Price -->
                            <b>Price:</b> ${{listing.initial_price}}
                          </p>
                        <p class="card-text">   <!-- Product description -->
                            {{listing.description}}
                        </p>
                        <p class="card-text"> <!-- Date when the listing was created -->
                            <small class="text-muted">Created on: {{listing.created_on}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}