{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <!-- 3) Active Listings Page:

    The default route of your web application should let users view all of the currently active auction listings. For each
    active listing, this page should display (at minimum) the title, description, current price, and photo (if one exists
    for the listing).
    Answer:

    This is pretty much that, up to this point, I’ve been showing as a debugging message in the Create Listings page: each
    listing showing their name, their photo, and their price.

    What I’ll do different, however, is that I won’t show the “True” nor “False” messages, which tell me if that listing is
    active or not. Instead, I’ll check if that listing is set to either “True” or “False” in the “Active” field. If it’s
    set to “True”, I will display that entry in the home page when the user logs in. However, right now, I don’t have any
    way of turning it into “False” (that should happen if, for instance, a user wins the bid and buys that product.)

    I can show the active listings in the home page, regardless of whether the user has logged in or not. Remember that
    you don’t have to be logged in in eBay in order to see a product and their price. You only need to log in to buy
    or sell a product.

	I need to send all of the resulting data into index.html, NOT to create.html. I want to display the listings on
	the home page, NOT on the page for creating a new listing. So, I’ll need to specify that on the views.py file.

	I’ll edit the code to, at first, only show each listing’s title, initial price (since I don’t currently have a way
	to increase the price of the bid), description, and the photo. I will hide everything else.

	Note: I need to display the active listings of ALL the users, not only the listings of the currently logged in user.

	Note 2: I want to redirect the users from the /create page to the home page, or at least show a confirmation
	message, after they create a listing on /create.

	For the time being, I will leave the “True” message on, which tells me if the listing is active or not, for
	debugging purposes. It’s just to confirm that only the active listings are appearing on the home screen. I could
	change a listing to “False” just to confirm that it won’t appear on the home screen.

	If I change a listing’s active status to “False”, the listing is still appearing n the home page, but it’s now
	showing the message “False”. I need to edit my code so that the inactive listings don’t show up on the home screen.


    DEBUGGING CODE: I will add some debugging code to print the data stored in the Listings table from the
    database into the /create page. I will do that just to learn how to print data from the database into the website.
    To do that, in the create() view, I will add Django’s Query Set notation into a variable. Then, I will send that
    variable to the /create page via Jinja notation. The syntax that I should use will be something like:
    “ “variable_name”: Model_name.objects.all() .”

     I will test printing the data from the Listings table from the database.

     NOTE: The jinja code will be executed, even if it's within an HTML comment. So, I will DELETE this
     test code and the Jinja notation once I finish this part of the assignment.

     -->
    {% for listing in listings %}
        <!-- This will make the home page to only display the active listings -->
        {% if listing.active == True %}
            <li>
                {{listing.product_name}}, ${{listing.initial_price}}, {{listing.description}}

            </li>

            <!-- This displays the listing's photo -->
            <img src="{{listing.picture_url}}" height="100px">
        {% endif %}
    {% endfor %}
{% endblock %}