{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <!-- 3) Active Listings Page:

    The default route of your web application should let users view all of the currently active auction listings. For each
    active listing, this page should display (at minimum) the title, description, current price, and photo (if one exists
    for the listing).
    Answer:

    This is pretty much that, up to this point, I’ve been showing as a debugging message in the Create Listings page: each
    listing showing their name, their photo, and their price.

    What I’ll do different, however, is that I won’t show the “True” nor “False” messages, which tell me if that listing is
    active or not. Instead, I’ll check if that listing is set to either “True” or “False” in the “Active” field. If it’s
    set to “True”, I will display that entry in the home page when the user logs in. However, right now, I don’t have any
    way of turning it into “False” (that should happen if, for instance, a user wins the bid and buys that product.)

    I can show the active listings in the home page, regardless of whether the user has logged in or not. Remember that
    you don’t have to be logged in in eBay in order to see a product and their price. You only need to log in to buy
    or sell a product.

	I need to send all of the resulting data into index.html, NOT to create.html. I want to display the listings on
	the home page, NOT on the page for creating a new listing. So, I’ll need to specify that on the views.py file.

	I’ll edit the code to, at first, only show each listing’s title, initial price (since I don’t currently have a way
	to increase the price of the bid), description, and the photo. I will hide everything else.

	Note: I need to display the active listings of ALL the users, not only the listings of the currently logged in user.

	Note 2: I want to redirect the users from the /create page to the home page, or at least show a confirmation
	message, after they create a listing on /create.

	For the time being, I will leave the “True” message on, which tells me if the listing is active or not, for
	debugging purposes. It’s just to confirm that only the active listings are appearing on the home screen. I could
	change a listing to “False” just to confirm that it won’t appear on the home screen.

	If I change a listing’s active status to “False”, the listing is still appearing n the home page, but it’s now
	showing the message “False”. I need to edit my code so that the inactive listings don’t show up on the home screen.

	I can also confirm that, if I create a listing from another user, that the new listing will be displayed for all
	users, and that it will also be displayed if the user logs out. So, I will deactivate the “True” debugging message
	for the active status of the products, since the web app is behaving properly.

	Even though the home page is now listing all of the active listings and the data that this assignment is asking
	me to, I will fix the styles (the CSS) of the information being displayed.

	To fix the CSS as fast as possible, I will use Bootstrap. I think a Bootstrap card will make each listing to look
	visually good. I will use Bootstrap’s “Horizontal” card (source:
	https://getbootstrap.com/docs/4.4/components/card/ .)

	Now, I want the border of each card to have the same width as the browser’s window. I tried doing that, but then
	the text’s alignment changed from being left-aligned to being on the center of the browser. For the time being,
	I will leave the cards’ width in around “50rem”.


	I will make each card that contains each listing to become clickable. Either that, or just the title or the image.
	I could enclose everything on an <a> tag, but that could mess up the CSS of the text inside of each card.

	Indeed: by inserting everything inside of an <a> tag, the entire card became clickable. However, all of the cards’
	text became blue, and has an underline. I’ll try to use “text: no-decoration” or something like that to remove the
	blue color and the underline.

	To prevent the color of each listing from changing into blue after inserting them inside of an <a> tag, I need to
	use the “color: inherit” CSS property (source:
	https://www.codegrepper.com/code-examples/css/CSS+how+to+remove+blue+text+color+on+links .) Meanwhile, to prevent
	the underline from appearing when hovering the mouse over each listing, I need to use the “text-decoration: none”
	CSS property (source: https://www.w3schools.com/cssref/pr_text_text-decoration.asp .)

	Now, I need to update the links on the home page so that, when the user clicks on a listing, the will be taken to
	the information page to that particular listing.

     -->
    {% for listing in listings %}
        <!-- This will make the home page to only display the active listings -->
        {% if listing.active == True %}
<!--            <li>-->
<!--                {{listing.product_name}}, ${{listing.initial_price}}, {{listing.description}}-->

<!--            </li>-->

            <!-- This displays the listing's photo -->
<!--            <img src="{{listing.picture_url}}" height="100px">-->

            <!-- Bootstrap's "Horizontal" card class (source: https://getbootstrap.com/docs/4.4/components/card/) -->
            <div class="card mb-3" style="max-width: 50rem;">

                <!-- I will edit the link so that the user gets redirected to a page that shows the information
                 for that particular listing -->
                <a href="listing/{{listing.id}}" style="text-decoration: none; color: inherit;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <!-- This displays the listing's photo -->
                      <img src="{{listing.picture_url}}" class="card-img" alt="{{listing.product_name}}'s picture"
                      height="200rem">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{listing.product_name}}</h5>    <!-- Product title -->
                          <p class="card-text">   <!-- Price -->
                            <b>Price:</b> ${{listing.initial_price}}
                          </p>
                        <p class="card-text">   <!-- Product description -->
                            {{listing.description}}
                        </p>
                        <p class="card-text"> <!-- Date when the listing was created -->
                            <small class="text-muted">Created on: {{listing.created_on}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}

    <!-- DEBUGGING Prices. This shouldn't display any bugs. -->
    {% for price in price_amounts_for_all_products %}
        {{price}}
        <br>
    {% endfor %}
{% endblock %}