{% extends "auctions/layout.html" %}

{% block body %}

    <!-- This displays the title of the currently selected listing.
    
    The next step is to show all of the information for that particular listing (including the category, 
    which I’m not showing on the home page). I think I also want to show the name of the seller. I can do 
    that by using the seller’s ID, and then printing their name.

    I think it may be better if, instead of creating a button using the <button> tag, I would create a POST form with a 
    “submit” input. I’ll do that since, if I use a <button> tag, I would have to use JavaScript or an <a> tag to do any 
    interaction with that button. And what I really want is getting data using Django and Python. So, a POST form 
    with a “submit” input would be more appropriate.

	And remember that the “Add to Watchlist” button should only appear if the user has logged into their account. So, I will 
    hide that button using django so that it only appears if the user logs in. I need to use the decorator that hides content 
    unless the user logs in.

    To differentiate the 2 submits, there are 2 ways: 1) I could add a different “name” attribute to both submits. 2) I
    could ignore the “name” attributes of the submit buttons, and, instead, I would get the “name” attributes from the
    inputs that contain the bid and the ”Add to watchlist” buttons. With the latter, I could get a bug in which, if I
    type a bid, and then click on “Add to watchlist” instead of “Bid”, I would get buggy behavior. So, I’ll try to
    change the “name” attribute for the “Submit” buttons (“Bid” and “Add/Remove from Watchlist”).

    Also, since the “add” or “remove” inputs are always present (even though they are hidden from the user), no matter
    which submit button I click: the input with the “add_or_delete” name will always have a value in it, so, the data
    from the “Add/Remove from Watchlist” will always be sent, even if I click on “Bid”. So, I will get buggy behavior,
    no matter what. So, I need to change the “name” attribute of the “Bid” and “Add to Watchlist” buttons.

    Actually, after rechecking my code, I had actually manually added the submit buttons. So, I can manually add them
    a different “name” attribute to all the submit buttons.

    The only important thing left is the error message. I technically show an error message if the user types an
    inappropriate bid. However, I will change its color to red so that it’s clear that it’s an error message. Also,
    I want to change the messages if the person successfully bids on an item (like showing the message in green.) I
    can use an “if” statement to tell the page whether to print the red error messages, or the green confirmation
    messages.

    BUG: The seller of the current product can bid for his own product, which doesn’t make any sense. I will edit my
    code so that the bid form gest hidden if the seller enters a product page of one of their own products.

	To fix it, I will go to the listing.html file, and put the opposite condition that I put for the “Close Auction”
	text: that if the user that has entered the product page is not the seller of that product, I will render the bid
	form.

	I will modify the button after clicking on “Close Auction” so that the button gets disabled and gray to indicate
	the user that they closed the auction successfully. I can change the color to gray (or inactive looking) by using
	the “disabled” attribute in Bootstrap (source: https://getbootstrap.com/docs/4.4/components/buttons/ .)

    -->
    {% for listing_data in current_listing %}
        <h2>{{listing_data.product_name}}</h2>

        <p>   <!-- Price -->
            <b>Current Bid:</b> ${{listing_data.initial_price}}
        </p>

        <!-- Form that will get the buyer's bid. Only logged users other than the seller will be able to see it -->
        {% if user.is_authenticated %}
            {% if display_close_auction_button == False %}
                <form method="post">
                    {% csrf_token %}
                    {{bid_form}}
                    <br>
                    <input class="btn btn-primary" type="submit" name="submit_bid" value="Bid">
                    <br>
                    <br>
                    <!-- DEBUGGING message: this will tell me if the 'Bid' button was clicked -->
    <!--                {{debugging_message_bid_button}}-->

                    <!-- Confirmation or error message -->
                    {% if bid_message != '' %}
                        {% if bid_message == 'Your bid has been successfully registered!' %}
                            <p style="color: green;">
                                {{bid_message}}
                            </p>
                        {% else %}
                            <p style="color: red;">
                                {{bid_message}}
                            </p>
                        {% endif %}
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}

        <p> <!-- Description -->
            {{listing_data.description}}
        </p>

        {% if user.is_authenticated %}
            {%  if display_remove_button == True %}
                <!-- "Remove from Watchlist" button -->
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="add_or_remove" value="remove" hidden>
                    <input class="btn btn-primary" type="submit" name="submit_add_or_remove" value="Remove from Watchlist">
                </form>
            {% else %}
                <!-- "Add to Watchlist" button -->
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="add_or_remove" value="add" hidden>
                    <input class="btn btn-primary" type="submit" name="submit_add_or_remove" value="Add to Watchlist">
                </form>
            {% endif %}

            <!-- DEBUGGING MESSAGE -->
            {% for product in watchlist_array %}
                {{product}}
                <br>
                {% if product == current_listing_id %}
                    <p>They are the same number!</p>
                {% endif %}
            {% endfor %}
            <br>
            {{current_listing_id}}

            <!-- This will render the "Close Auction" button if the seller of the product enters the page -->
            {% if display_close_auction_button == True %}

                <!-- DEBUGGING message -->
                {{debugging_message_active_status}}

                {% if is_close_auction_button_active == True %}
                    <form method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" name="close_auction" value="Close Auction">
                    </form>
            
                <!-- This will display an inactive button if the seller closes the auction -->
                {% elif is_close_auction_button_active == False %}
                    <button class="btn btn-secondary" disabled>Closed Auction</button>
                
                {% endif %}
                <!-- <p>Close Auction</p>-->
            {% endif %}
        {% endif %}



        <p> <!-- Date when the listing was created -->
            <small class="text-muted">Created on: {{listing_data.created_on}}</small>
        </p>
        <p> <!-- Category -->
            {{listing_data.category}}
        </p>
        
        <!-- This will print the seller's name by comparing the IDs of all of the users, and the seller ID from the
        current listing -->
        {% for seller_data in seller %}
            {% if seller_data.id == listing_data.seller_id_id %}
                <p> <!-- Seller's name -->
                    Seller: {{seller_data.username}}
                </p>
            {%endif%}
        {% endfor %}

        <!-- Listing image -->
        <img src="{{listing_data.picture_url}}" width="500rem" alt="{{listing_data.product_name}}'s picture">
    {% endfor %}

    <!-- I need to FIX the URL later, since I haven't created the view which will display an individual listing.

    In fact, for the time being, it doesn't make sense to use a form here, since I'm only displaying the listing's
    information, not giving the user the option to edit it.

    To display the information on the page, I won’t use forms (for the time being), and I won’t use Bootstrap cards.
    I will use the entirety of the size of the browser. I’ll probably user a hero though.
    -->


{% endblock %}