{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    <!-- This will print every product within the logged user's watchlist -->
    {% for watchlist_product in watchlist_products %}
        {% for product in active_products %}
            {% if product.id == watchlist_product %}
                {{product.product_name}}

                <br>
            {% endif %}
        {% endfor %}


<!--        {{product}}-->
<!--        <br>-->
    {% endfor %}

<!--        &lt;!&ndash; This will make the home page to only display the listings from closed auctions &ndash;&gt;-->
<!--        {% if listing.active == False %}-->

<!--            <div class="card mb-3" style="max-width: 50rem;">-->

<!--                &lt;!&ndash; I will edit the link so that the user gets redirected to a page that shows the information-->
<!--                 for that particular listing &ndash;&gt;-->
<!--                <a href="listing/{{listing.id}}" style="text-decoration: none; color: inherit;">-->
<!--                  <div class="row no-gutters">-->
<!--                    <div class="col-md-4">-->
<!--                      &lt;!&ndash; This displays the listing's photo &ndash;&gt;-->
<!--                      <img src="{{listing.picture_url}}" class="card-img" alt="{{listing.product_name}}'s picture">-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                      <div class="card-body">-->
<!--                        <h5 class="card-title">{{listing.product_name}}</h5>    &lt;!&ndash; Product title &ndash;&gt;-->
<!--                          <p class="card-text">   &lt;!&ndash; Price &ndash;&gt;-->
<!--                            <b>Price:</b> ${{listing.initial_price}}-->
<!--                          </p>-->
<!--                        <p class="card-text">   &lt;!&ndash; Product description &ndash;&gt;-->
<!--                            {{listing.description}}-->
<!--                        </p>-->
<!--                        <p class="card-text"> &lt;!&ndash; Date when the listing was created &ndash;&gt;-->
<!--                            <small class="text-muted">Created on: {{listing.created_on}}</small>-->
<!--                        </p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        {% endif %}-->

{% endblock %}