{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    <!-- This will print every product within the logged user's watchlist -->
    {% for watchlist_product in watchlist_products %}
        {% for product in active_products %}
            {% if product.id == watchlist_product %}
                <div class="card mb-3" style="max-width: 50rem;">

                    <!-- I will edit the link so that the user gets redirected to a page that shows the information
                     for that particular listing -->
                    <a href="listing/{{product.id}}" style="text-decoration: none; color: inherit;">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <!-- This displays the listing's photo -->
                          <img src="{{product.picture_url}}" class="card-img" alt="{{product.product_name}}'s picture">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{product.product_name}}</h5>    <!-- Product title -->
                              <p class="card-text">   <!-- Price -->
                                <b>Price:</b> ${{product.initial_price}}
                              </p>
                            <p class="card-text">   <!-- Product description -->
                                {{product.description}}
                            </p>
                            <p class="card-text"> <!-- Date when the listing was created -->
                                <small class="text-muted">Created on: {{product.created_on}}</small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                </div>


<!--                {{product.product_name}}-->
<!--                <br>-->
            {% endif %}
        {% endfor %}


<!--        {{product}}-->
<!--        <br>-->
    {% endfor %}
{% endblock %}